/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
   html {
    color: #222;
    font-size: 14px;
    line-height: 1;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* fonts */
@font-face {
    font-family: gotham;
    src: url(../fonts/gotham-light.otf);
    font-weight: 300;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/gotham-book.otf);
    font-weight: 400;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/gotham-bold.otf);
    font-weight: 700;
}

@font-face {
    font-family: gotham;
    src: url(../fonts/gotham-black.otf);
    font-weight: 900;
}

strong,
b {
    font-weight: 700;
}



/* global settings */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: gotham;
}

p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

/* video */
.video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video-container:before {
    content: "";
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-image: url('../images/overlays/12.png');
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}



/* SVG Logo */
svg {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 240px;
    height: auto;
    z-index: 10;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 9900;
}

@media all and (max-width: 600px) {
    svg {
        width: 180px;
    }
}

@media all and (min-width: 600px) {
    svg {
        width: 240px;
    }
}

#a_graphic {
    /* -webkit-transform: translateX(19%);
    transform: translateX(19%); */
    -webkit-transform: translateX(108px);
    transform: translateX(108px);
    -webkit-transition: all .5s .3s;
    transition: all .5s .3s;
}

#a_graphic.active {
    /* -webkit-transform: translateX(0.01%);
    transform: translateX(0.01%); */
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all .5s;
    transition: all .5s;
}

#a_graphic.active2 {
    stroke: black;
}

#left-leg {
    fill: #ffffff;
    -webkit-transition: fill .3s .2s;
    transition: fill .3s .2s;
}

#left-leg.active {
    fill: #fd5f88;
    /* -webkit-transition: fill .3s .4s; */
    -webkit-transition: fill .3s;
    /* transition: fill .3s .4s; */
    transition: fill .3s;
}

#left-leg.active2 {
    fill: black;
    -webkit-transition: fill .3s;
    transition: fill .3s;
}

#right-leg {
    fill: #ffffff;
    -webkit-transition: fill .3s .2s;
    transition: fill .3s .2s;
}

#right-leg.active {
    fill: #f23655;
    /* -webkit-transition: fill .3s .4s; */
    -webkit-transition: fill .3s;
    /* transition: fill .3s .4s; */
    transition: fill .3s;
}

#right-leg.active2 {
    fill: black;
    -webkit-transition: fill .3s;
    transition: fill .3s;
}

#i_graphic {
    /* -webkit-transform: translateX(2.7%);
    transform: translateX(2.7%); */
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
    /* -webkit-transition: transform .5s .3s;
    -webkit-transition: -webkit-transform .5s .3s;
    transition: -webkit-transform .5s .3s;
    transition: transform .5s .3s;
    transition: transform .5s .3s, -webkit-transform .5s .3s; */
    -webkit-transition: all .5s .3s;
    transition: all .5s .3s;
}

#i_graphic.active {
    /* -webkit-transform: translateX(0%);
    transform: translateX(0%); */
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    /* -webkit-transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s; */
    -webkit-transition: all .5s;
    transition: all .5s;
}

#i_graphic.active2 {
    stroke: black;
}

#i-leg {
    fill: #ffffff;
    -webkit-transition: fill .3s .2s;
    transition: fill .3s .2s;
}

#i-leg.active {
    fill: #fed771;
    /* -webkit-transition: fill .3s .4s; */
    -webkit-transition: fill .3s;
    /* transition: fill .3s .4s; */
    transition: fill .3s;
}

#i-leg.active2 {
    fill: black;
    -webkit-transition: fill .3s;
    transition: fill .3s;
}

#active {
    stroke: #000000;
    fill: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#active.active {
    opacity: 1;
    -webkit-transition: opacity .3s .4s;
    transition: opacity .3s .4s;
}

#active.active2 {
    stroke: #ffffff;
    fill: #ffffff;
}

#insights {
    stroke: #000000;
    fill: #000000;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

#insights.active {
    opacity: 1;
    -webkit-transition: opacity .3s .4s;
    transition: opacity .3s .4s;
}

#insights.active2 {
    stroke: #ffffff;
    fill: #ffffff;
}

.logo_ie {
    display: none;
    position: fixed;
    top: 3%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 200px;
    z-index: 99999;
}


/* NAV */
.nav-container {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 9900;
    background: transparent;
    -webkit-transition: all .3s;
    transition: all .3s;
    /* overflow: hidden; */
}

.nav-container.active_sec2 {
    background: rgba(242, 54, 85, .97);
    overflow: visible; /* for phone button shadow */
}

nav {
    display: block;
    top: -75px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: white;
    width: 260px;
    height: 75px;
    -webkit-transition: width .1s .2s, top .1s .4s;
    transition: width .1s .2s, top .1s .4s;
    z-index: 5;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    nav {
        width: 200px;
    }
}

nav.active {
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition: top .1s, width .1s .2s;
    transition: top .1s, width .1s .2s;
    border-bottom: 1px solid #e3e3e3;
}

nav.active.fixed {
    position: fixed;
}

.inner-nav-container {
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .2s .01s;
    transition: all .2s .01s;
}

.inner-nav-container.active {
        position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .2s .4s;
    transition: all .2s .4s;
}



/* burger button */
.burger-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 39px;
    height: 39px;
    border: 2px solid #f23655;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    -webkit-transition: border .3s .6s;
    transition: border .3s .6s;
}

.burger-button span {
    position: absolute;
    width: 18px;
    height: 2px;
    background: #f23655;
    display: block;
    top: calc(50% - 1px);
    left: calc(50% - 9px);
    -webkit-transition: background .3s .6s, transform .3s;
    -webkit-transition: background .3s .6s, -webkit-transform .3s;
    transition: background .3s .6s, -webkit-transform .3s;
    transition: background .3s .6s, transform .3s;
    transition: background .3s .6s, transform .3s, -webkit-transform .3s;
}

.burger-button span:nth-child(1) {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.burger-button span:nth-child(2) {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
}

.burger-button span:nth-child(3) {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
}

.burger-button.active {
    border: 2px solid white;
    -webkit-transition: border .3s .2s;
    transition: border .3s .2s;
}

.burger-button.active span:nth-child(1) {
    -webkit-transform: translateY(0px) rotate(-45deg);
    transform: translateY(0px) rotate(-45deg);
    background: white;
    -webkit-transition: background .3s .2s, transform .3s;
    -webkit-transition: background .3s .2s, -webkit-transform .3s;
    transition: background .3s .2s, -webkit-transform .3s;
    transition: background .3s .2s, transform .3s;
    transition: background .3s .2s, transform .3s, -webkit-transform .3s;
}

.burger-button.active span:nth-child(2) {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
    background: white;
    -webkit-transition: background .3s .2s, transform .3s, opacity .3s;
    -webkit-transition: background .3s .2s, opacity .3s, -webkit-transform .3s;
    transition: background .3s .2s, opacity .3s, -webkit-transform .3s;
    transition: background .3s .2s, transform .3s, opacity .3s;
    transition: background .3s .2s, transform .3s, opacity .3s, -webkit-transform .3s;
}

.burger-button.active span:nth-child(3) {
    -webkit-transform: translateY(0px) rotate(45deg);
    transform: translateY(0px) rotate(45deg);
    background: white;
    -webkit-transition: background .3s .2s, transform .3s;
    -webkit-transition: background .3s .2s, -webkit-transform .3s;
    transition: background .3s .2s, -webkit-transform .3s;
    transition: background .3s .2s, transform .3s;
    transition: background .3s .2s, transform .3s, -webkit-transform .3s;
}

.languages-selection-nav {
    display: flex;
    position: absolute;
    top: 15px;
    left: 60px;
    color: #f23655;
    font-weight: 700;
}

@media all and (max-width: 600px) {
    .languages-selection-nav {
        display: none;
    }
}

.languages-selection-nav a {
    text-decoration: none;
    color: #f23655;
    transition: all .33s;
}

.languages-selection-nav a:hover {
    color: #fed771;
}

.languages-selection-nav p {
    margin-left: 5px;
    margin-right: 5px;
}

.menu-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background: #f23655;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.menu-bar.active {
    width: 100%;
    height: 100vh;
}

.menu-bar ul {
    width: 100%;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.menu-bar ul li {
    list-style: none;
    text-align: center;
}

.menu-bar ul li.languages-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 15px auto 0;
}

@media all and (min-width: 600px) {
    .menu-bar ul li.languages-selection {
        display: none;
    }
}

.menu-bar ul li.languages-selection a {
    padding: 5px;
    margin: 0;
    transition: all .33s;
}

.menu-bar ul li.languages-selection p {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-bar ul li.languages-selection a:before {
    display: none;
}

.menu-bar ul li a {
    /* font-size: 40px; */
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    margin: 15px auto;
    -webkit-transition: color .1s;
    transition: color .1s;
}

@media only screen and (max-width: 600px) {
    .menu-bar ul li a {
        /* font-size: 30px; */
        margin: 5px auto;
    }
}

@media only screen and (min-width: 600px) and (max-height: 768px) {
    .menu-bar ul li a {
        /* font-size: 30px; */
        margin: 5px auto;
    }
}

.menu-bar ul li a:before {
    content: '';
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background:#fed771;
    -webkit-transition: width .3s;
    transition: width .3s;
}

.menu-bar ul li a:hover {
    color: #fed771;
}

.menu-bar ul li a p {
    font-size: 46px;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

@media only screen and (max-width: 600px) {
    .menu-bar ul li a p {
        font-size: 30px;
    }
}

.menu-bar ul li a:hover p {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}

.menu-bar ul li a:hover:before {
    width: 80px;
}

@media all and (min-width: 0) and (max-width: 968px) and (orientation: landscape) {
    .menu-bar ul li a {
        padding: 8px 10px;
        margin: 0 auto;
    }
    .menu-bar ul li a p {
        font-size: 25px;
    }
}

@media all and (max-height: 600px) {
    .menu-bar ul li a {
        padding: 8px 10px;
        margin: 0 auto;
    }
    .menu-bar ul li a p {
        font-size: 25px;
    }
    .menu-bar ul li a:hover:before {
        width: 0;
    }
}

@media all and (max-height: 400px) {
    .menu-bar ul li a {
        padding: 5px 10px;
        margin: 0 auto;
    }
    .menu-bar ul li a p {
        font-size: 24px;
    }
}



/* nav contacts */
.nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-contacts_wrapper {
    margin-right: 20px;
}

.nav-phone {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: -1px;
    cursor: pointer;
    text-decoration: none;
}

.nav-time {
    font-size: 10px;
    font-weight: 300;
    text-align: right;
    margin-top: 4px;
}

.call-button {
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 35px;
    color: white;
    background: #f23655;
    border-radius: 50px;
    cursor: pointer;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.14);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.14);
}

.call-button_mobile {
    display: none;
}

@media all and (max-width: 959px){
    .call-button,
    .nav-contacts_wrapper {
        display: none;
    }
    .call-button_mobile {
        position: absolute;
        display: block;
        right: 5%;
        /* padding: 9px; */
        /* border-radius: 50%; */
        /* color: white; */
    }
}

.call-button:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .22), 0 10px 10px rgba(0, 0, 0, .14);
            box-shadow: 0 14px 28px rgba(0, 0, 0, .22), 0 10px 10px rgba(0, 0, 0, .14);
}

.call-button:active {
    -webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
            box-shadow: 0 5px 7px rgba(0, 0, 0, 0.12), 0 1px 6px rgba(0, 0, 0, 0.24);
}

.Phone {
    position: relative;
    display: block;
    margin: 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #f23655;
    color: white;
    border-radius: 50%;
    /* box-shadow: 0px 0px 0px 5px rgba(52, 152, 219, 1), 0px 3px 5px rgba(0, 0, 0, 1); */
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1);
}
  
.Phone::before {
    position: absolute;
    top: 10px;
    left: 10px;
}
  
.Phone.is-animating {
	-webkit-animation: phone-outer 3000ms infinite;
			animation: phone-outer 3000ms infinite;
}

.Phone.is-animating::before {
	-webkit-animation: phone-icon 3000ms infinite;
			animation: phone-icon 3000ms infinite;
}

@-webkit-keyframes phone-outer {
	0% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
	}
	33.3333% {
		-webkit-transform: translate3d(0, 0, 0) scale(1.1);
				transform: translate3d(0, 0, 0) scale(1.1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.1), 0 3px 5px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.1), 0 3px 5px rgba(0, 0, 0, 0.5);
	}
	66.6666% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 4px 4px rgba(242, 54, 85, .1);
		        box-shadow: 0 0 4px 4px rgba(242, 54, 85, .1);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
	}
}

@keyframes phone-outer {
	0% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
	}
	33.3333% {
		-webkit-transform: translate3d(0, 0, 0) scale(1.1);
				transform: translate3d(0, 0, 0) scale(1.1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.1), 0 3px 5px rgba(0, 0, 0, 0.5);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0.1), 0 3px 5px rgba(0, 0, 0, 0.5);
	}
	66.6666% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 4px 4px rgba(242, 54, 85, .1);
		        box-shadow: 0 0 4px 4px rgba(242, 54, 85, .1);
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0) scale(1);
				transform: translate3d(0, 0, 0) scale(1);
		-webkit-box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
		        box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 3px 5px rgba(0, 0, 0, 0.2);
	}
}

@-webkit-keyframes phone-icon {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	2% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	4% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	6% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	8% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	10% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	12% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	14% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	16% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	18% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	20% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	22% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	24% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	26% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	28% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	30% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	32% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	34% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	36% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	38% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	40% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	42% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	44% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	46% {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}

@keyframes phone-icon {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
	2% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	4% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	6% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	8% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	10% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	12% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	14% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	16% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	18% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	20% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	22% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	24% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	26% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	28% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	30% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	32% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	34% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	36% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	38% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	40% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	42% {
		-webkit-transform: translate3d(1px, 0, 0);
				transform: translate3d(1px, 0, 0);
	}
	44% {
		-webkit-transform: translate3d(-1px, 0, 0);
				transform: translate3d(-1px, 0, 0);
	}
	46% {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}



/* rotating text section */
.rotating-text {
    text-align: left;
    display: block;
    position: absolute;
    width: 50%;
    max-width: 900px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.rotating-text h1 {
    font-size: 56px; /* 4em */
    letter-spacing: -2px;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    color: white; 
}

.rotating-text h1 span {
    font-weight: 400;
    text-transform: lowercase;
}

.text-rotation_wrapper {
    display: inline-block;
    font-size: 30px;
    letter-spacing: -2px;
    line-height: 1.2;
    text-transform: uppercase;
    color: white;
    margin: 30px auto;
}

.text-rotation {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    text-align: left;
    height: 30px;
    overflow: hidden;
}

.text-rotation span {
    display: block;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: 700;
    font-style: normal;
    line-height: 33px;
    height: 30px;
    margin: 0;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: margin-top .3s ease;
    transition: margin-top .3s ease;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .rotating-text {
        width: 80%;
    }
    .rotating-text h1 {
        font-size: 28px;
    }
    .text-rotation_wrapper {
        font-size: 22px;
        line-height: 1.1;
    }
    .text-rotation {
        height: 22px;
    }
    .text-rotation span {
        font-size: 22px;
        font-style: normal;
        line-height: 28px;
        height: 22px;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    .rotating-text {
        width: 70%;
    }
    .rotating-text h1 {
        font-size: 30px;
    }
    .text-rotation_wrapper {
        font-size: 24px;
        line-height: 1.1;
    }
    .text-rotation {
        height: 24px;
    }
    .text-rotation span {
        font-size: 24px;
        font-style: normal;
        line-height: 30px;
        height: 24px;
    }
}

@media all and (min-width: 600px) {
    .rotating-text {
        width: 60%;
    }
    .rotating-text h1 {
        font-size: 32px;
    }
    .text-rotation_wrapper {
        font-size: 26px;
        line-height: 1.1;
    }
    .text-rotation {
        height: 26px;
        top: 1px;
    }
    .text-rotation span {
        font-size: 26px;
        font-style: normal;
        line-height: 32px;
        height: 26px;
    }
}

@media all and (min-width: 768px) {
    .rotating-text {
        width: 60%;
    }
    .rotating-text h1 {
        font-size: 36px;
    }
    .text-rotation_wrapper {
        font-size: 30px;
        line-height: 1.1;
    }
    .text-rotation {
        height: 30px;
    }
    .text-rotation span {
        font-size: 30px;
        font-style: normal;
        line-height: 36px;
        height: 30px;
    }
}

@media all and (min-width: 959px) {
    .rotating-text {
        width: 70%;
    }
    .rotating-text h1 {
        font-size: 42px;
    }
    .text-rotation_wrapper {
        font-size: 34px;
        line-height: 1.1;
    }
    .text-rotation {
        top: 1px;
        height: 34px;
    }
    .text-rotation span {
        font-size: 34px;
        font-style: normal;
        line-height: 41px;
        height: 34px;
    }
}

@media all and (min-width: 1200px) {
    .rotating-text {
        width: 70%;
    }
    .rotating-text h1 {
        font-size: 50px;
        color: white; 
    }
    .text-rotation_wrapper {
        font-size: 40px;
        line-height: 1.1;
    }
    .text-rotation {
        height: 40px;
    }
    .text-rotation span {
        font-size: 40px;
        font-style: normal;
        line-height: 49px;
        height: 40px;
    }
}

.text-rotation span:nth-of-type(1) {
    color: rgb(254, 215, 113);
}

.text-rotation span:nth-of-type(2) {
    color: rgb(253, 95, 136);
}

.text-rotation span:nth-of-type(3) {
    color: rgb(120, 224, 143);
}

.more_wrapper {
    display: inline;
    margin: 0;
    padding: 5px 0;
    text-decoration: none;
}

.more_wrapper p {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    color: #fed771;
}

@media all and (min-width: 768px) {
    .more_wrapper p {
        font-size: 18px;
    }
}

.more-link {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 10px;
    width: 45px;
}

@media all and (min-width: 768px) {
    .more-link {
        top: 3px;
    }
}

.more-link span {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding: 10px 0;
}

.more-link span:before {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background: #fed771;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.more-link span:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 28px;
    border: solid #fed771;
    border-width: 0px 2px 2px 0;
    padding: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.more_wrapper:hover .more-link span {
    width: 85px;
}

.more_wrapper:hover .more-link span:before {
    width: 85px;
}

.more_wrapper:hover .more-link span:after {
    left: 73px;
}

.more_wrapper:hover p {
    font-weight: 400;
}



/* modal section */
.cd-section {
    position: absolute;
    top: 16px;
    left: 5%;
}

/* controla o fade-in do conteúdo do modal */
.cd-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
    transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
}

.cd-modal .cd-modal-content {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-is-visible .cd-modal {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
}

.modal-is-visible .cd-modal .cd-modal-content {
    -webkit-overflow-scrolling: touch;
}

.cd-modal-action {
    position: relative;
}

.cd-modal-action .btn {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.cd-modal-action .cd-modal-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 39px;
    height: 39px;
    background: #f23655;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
    z-index: 1;
}

.cd-modal-action .cd-modal-bg.is-visible {
    opacity: 1;
    visibility: visible;
}

.cd-modal-close {
    position: fixed;
    z-index: 10;
    top: 16px;
    left: 5%;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.modal-is-visible .cd-modal-close {
    visibility: visible;
    cursor: pointer;
}



/* section 1 */
.section1 {
    position: relative;
    top: 0;
    left: 0;
    background: #f23655;
    background-image: url('../images/working_aiconsulting.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section1:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(242, 54, 85, .8);
}

.sec1_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 90px 0 90px;
}

.sec1 {
    position: relative;
    width: 100%;
    max-width: 750px;
    /* z-index: 5; */
}

.sec1 h2 {
    font-size: 80px;
    line-height: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    /* z-index: 5; */
}

.sec1 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 40px;
}

.sec1 div a {
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 25px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sec1 div a:first-of-type {
    margin-right: 20px;
}

.meet {
    color:  #231f20;
    background: white;
    border: 1px solid white;

}

.meet:hover {
    color: white;
    background: #231f20;
    border: 1px solid #231f20;
}

.rate {
    color: white;
    background: transparent;
    border: 1px solid white;
}

.rate:hover {
    background: rgba(255, 255, 255, .2);
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec1_wrapper {
        padding: 150px 40px 0 40px;
    }
    .sec1 {
        width: 100%;
    }
    .sec1 div {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec1 h2 {
        font-size: 30px;
        line-height: 30px;
    }
    .sec1 div a:last-of-type {
        margin-top: 20px;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    .sec1_wrapper {
        padding: 200px 70px 0 70px;
    }
    .sec1 {
        max-width: 360px;
    }
    .sec1 h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .sec1 div {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    /* .sec1 div a {
        font-size: 12px;
        width: 200px;
        padding: 13px 25px;
    } */
    .sec1 div a:last-of-type {
        margin-top: 20px;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .sec1 {
        max-width: 450px;
      
    }
    .sec1 h2 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .sec1 {
        max-width: 600px;
    }
    .sec1 h2 {
        font-size: 70px;
        line-height: 70px;
    }
}

@media all and (min-width: 959px) and (max-width: 1200px) {
    .sec1 {
        max-width: 600px;
    }
    .sec1 h2 {
        font-size: 80px;
        line-height: 80px;
    }
}

@media all and (min-width: 1200px) {
    .sec1 h2 {
        font-size: 90px;
        line-height: 90px;
    }
}

@media all and (min-width: 0) and (max-width: 968px) and (orientation: landscape) {
    .section1 {
        height: 100%;
        min-height: 500px;
    }
    .sec1_wrapper {
        padding: 120px 90px 0 90px;
    }
    .sec1 h2 {
        font-size: 40px;
        line-height: 45px;
    }
}

.scroller {
    position: absolute;
    bottom: 0px;
    left: 50%;
    cursor: pointer;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.scroller:hover p  {
    color: #fed771;
}

.scroller:hover .bar:before {
    background: #fed771;
}

.scroller p {
    text-align: center;
    padding-bottom: 55px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    color: white;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.bar:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 2px;
    height: 45px;
    background: white;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.bar:after {
    content: '';
    position: absolute;
    bottom: 42px;
    left: 50%;
    width: 2px;
    height: 3px;
    background: black;
    margin-left: -1px;
    -webkit-transition: all .3s;
    transition: all .3s;
    animation: scrollDown 1.4s infinite;
    -webkit-animation: scrollDown 1.4s infinite;
}

@-webkit-keyframes scrollDown {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 42px);
        transform: translate(0, 42px);
}
    100% {
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
    opacity: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    90% {
        opacity: 0;
        -webkit-transform: translate(0, 44px);
        transform: translate(0, 44px);
}
    100% {
        opacity: 0;
    }
}



/* section 2 */
.section-2 {
    position: relative;
    width: 100%;
    padding: 130px 90px 50px 90px;
    margin: 0;
    background: white;
    overflow: hidden;
}

.section-2:before {
    content: 'Soluções';
}

.sec2-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec2-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec2-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec2-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec2-main p:last-of-type span {
    font-style: italic;
}

.sec2-box_wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sec2-box {
    width: 47%;
    padding: 0;
    margin-bottom: 70px;
}

.sec2-box p:first-of-type {
    font-size: 24px;
    font-weight: 300;
}

.sec2-box h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    letter-spacing: -1px;
}

.sec2-box p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.arrow-link {
    display: inline-block;
    position: relative;
    width: 45px;
    margin-top: 30px;
    cursor: pointer;
}

.arrow-link a {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding: 10px 0;
}

.arrow-link a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background: black;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.arrow-link a:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 28px;
    border: solid black;
    border-width: 0px 2px 2px 0;
    padding: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.arrow-link a:hover {
    width: 85px;
}

.arrow-link a:hover:before {
    width: 85px;
}

.arrow-link a:hover:after {
    left: 73px;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec2-main {
        margin-bottom: 30px;
    }
    .sec2-box {
        width: 100%;
        margin-bottom: 50px;
    }
    .arrow-link {
        margin-top: 20px;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    .sec2-box {
        width: 100%;
        margin-bottom: 50px;
    }
    .arrow-link {
        margin-top: 20px;
    }
}



/* section 3 */
.section-3 {
    margin: 0;
    padding: 60px 90px;
    position: relative;
    width: 100%;
    background: #fed771;
}

.sec3-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.sec3-main {
    position: relative;
    width: 48%;
    margin: 0;
}

.sec3-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec3-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec3-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec3-contact {
    width: 48%;
    max-width: 400px;
    margin: 0;
}

.sec3-form {
    position: relative;
}

.sec3-form input {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
}

.sec3-form select {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 6px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
    text-indent: 0;
    cursor: pointer;
}

.sec3-form select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sec3-form input[type='submit'] {
    background: #f23655;
    color: white;
    text-transform: uppercase;
    height: 52px;
    cursor: pointer;
    -webkit-transition: all .33s;
    transition: all .33s;
}

.sec3-form input[type='submit']:hover {
    background: rgba(242, 54, 85, .5);
}

.sec3-form input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}

.sec3-form div {
    position: relative;
}

.sec3-form label {
    font-family: gotham;
    font-size: 9px;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
    position: absolute;
    width: 90%;
    top: 3px;
    left: 24px;
}

@media all and (min-width: 0px) and (max-width: 472px) {
    .sec3-form label {
        top: -2px;
    }
}

/* errors for section-3 form */
#form_name-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 32px;
    left: 10px;
    color: #fd5f88;
}

#form_email-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 89px;
    left: 10px;
    color: #fd5f88;
}

#form_service-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 146px;
    left: 10px;
    color: #fd5f88;
}

#form_checkbox-error.error {
    top: 23px;
    color: #fd5f88;
    margin-bottom: 10px;
}

/* errors for section-7_5 form */
#form_name1-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 32px;
    left: 10px;
    color: #fd5f88;
}

#form_email1-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 89px;
    left: 10px;
    color: #fd5f88;
}

#form_service1-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 146px;
    left: 10px;
    color: #fd5f88;
}

#form_checkbox1-error.error {
    top: 23px;
    color: #fd5f88;
    margin-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec3-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec3-main {
        width: 100%;
        margin-bottom: 30px;
    }
    .sec3-main h1 {
        font-size: 35px;
    }
    .sec3-contact {
        width: 100%;
        max-width: 300px;
        padding: 0;
        margin: 0 auto;
    }
    .sec3-form input {
        font-size: 12px;
    }
    .sec3-form select {
        font-size: 12px;
    }
    
}

@media all and (min-width: 400px) and (max-width: 768px) {
    .sec3-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec3-main {
        width: 100%;
    }
    .sec3-main h1 {
        font-size: 38px;
    }
    .sec3-contact {
        width: 100%;
        max-width: 400px;
        padding: 40px 0 0 0;
        margin: 0 auto;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .sec3-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec3-main {
        width: 80%;
        margin-bottom: 40px;
    }
    .sec3-contact {
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin: 0 auto;
    }
}



/* section 4 */
.section-4 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-4:before {
    content: 'Porquê';
}

.sec4-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec4-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec4-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec4-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec4-box_wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sec4-box {
    width: 33.33333%;
}

.sec4-box h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    letter-spacing: -1px;
}

.sec4-box:nth-of-type(1) ul {
    /* margin-bottom: 70px; */
}

.sec4-box ul li {
    font-size: 14px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-right: 10px;
    position: relative;
}

.sec4-box ul li i {
    position: absolute;
    left: -20px;
}

.sec4-box:nth-of-type(1) ul li i {
    color: #fd5f88;
}

.sec4-box:nth-of-type(2) ul li i {
    color: green;
    margin-right: 5px;
}

/* .sec4-box div {
    display: inline-block;
} */

.sec4-box:nth-of-type(4) {
    margin-top: 30px;
}

.sec4-box a {
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 25px;
    color: #f23655;
    border: 1px solid #f23655;
    border-radius: 3px;
    background: white;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sec4-box a:hover {
    color: white;
    background: #f23655;
}

.sec4-box img {
    width: 100%;
    /* max-width: 300px; */
    height: auto;
}



@media all and (max-width: 600px) {
    .sec4-box_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec4-box {
        width: 100%;
    }
    .sec4-box:first-of-type(1) {
        margin-bottom: 40px;
    }
    .sec4-box:nth-of-type(2) {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .sec4-box:nth-of-type(3) {
        display: none;
    }
    .sec4-box:nth-of-type(4) {
        margin-top: 30px;
    }
}

@media all and (min-width: 600px) {
    .sec4-box {
        width: 50%;
    }
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec4-main {
        margin-bottom: 30px;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .sec4-box_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        /* align-items: center; */
        /* justify-content: center; */
    }
    .sec4-box:nth-of-type(3) {
        margin-top: 70px;
    }
}

@media all and (min-width: 768px) {
    .sec4-box_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec4-box {
        width: 33.33333%;
    }
}



/* section 5 */
.section-5 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-5:before {
    content: 'Contrato';
    /* top: 4% !important; */
}

.sec5-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 80px !important;
}

.sec5-main {
    position: relative;
    width: 48%;
}

.sec5-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec5-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec5-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec5-main p:last-of-type span {
    font-style: italic;
}

.sec5-button_wrapper {
    display: inline-block;
    margin-top: 70px;
}

.sec5-button_wrapper a {
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 25px;
    color: white;
    border: 1px solid #f23655;
    border-radius: 3px;
    background: #f23655;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.sec5-button_wrapper a:hover {
    /* color: #f23655; */
    background: rgba(242, 54, 85, .5);
}

.sec5-box_wrapper {
    position: relative;
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.sec5-box {
    width: 48%;
    margin-bottom: 50px;
}

.sec5-box:last-of-type {
    margin-bottom: 0;
}

.sec5-box h2 {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.sec5-box h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 3px;
    background: black;
}

.sec5-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec5-wrap2 {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.sec5-slider {
    width: 48%;
    text-align: center;
    -ms-flex-item-align: center;
        align-self: center;
}

.sec5-slider img {
    width: 100%;
    /* max-width: 270px; */
}

@media all and (min-width: 0px) and (max-width: 768px) {
    .sec5-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec5-main {
        width: 100%;
        max-width: 550px;
        margin-bottom: 70px;
    }
    .sec5-button_wrapper {
        margin-bottom: 70px;
    }
    .sec5-box_wrapper {
        width: 100%;
    }
    .sec5-wrap2 {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .sec5-slider {
        width: 100%;
        margin-bottom: 0;
    }
}



/* section 6 */
.section-6 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}
.section-6:before {
    content: 'Ferramentas';
}

.sec6-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec6-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec6-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec6-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec6-box_wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sec6-box {
    width: 16%;
}

.sec6-box h2 {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.sec6-box h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 35%;
    height: 3px;
    background: black;
}

.sec6-image_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 65px;
}

.sec6-box img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35px;
    height: auto;
    -ms-flex-item-align: center;
        align-self: center;
    /* margin-bottom: 30px; */
}

@media all and (min-width: 0px) and (max-width: 600px) {
    .sec6-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
    }
    .sec6-box {
        width: 49%;
        margin-bottom: 50px;
    }
    .sec6-box:nth-of-type(5) {
        margin-bottom: 0;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .sec6-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .sec6-box {
        width: 33%;
    }
    .sec6-box:nth-of-type(4),
    .sec6-box:nth-of-type(5) {
        margin-top: 50px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .sec6-box {
        width: 19%;
    }
}



/* section 7 */
.section-7 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-7:before {
    content: 'Processo';
}

.sec7-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec7-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec7-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec7-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec7-box_wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.sec7-box {
    width: 19%;
}

.sec7-box p:first-of-type {
    font-size: 24px;
    font-weight: 300;
}

.sec7-box h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 15px 0 10px 0;
    letter-spacing: -1px;
}

.sec7-box p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec7-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec7-box {
        width: 80%;
        margin-bottom: 50px;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    .sec7-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec7-box {
        width: 70%;
        margin-bottom: 50px;
    }
}

@media all and (min-width: 600px) and (max-width: 959px) {
    .sec7-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec7-box {
        width: 48%;
        margin-bottom: 50px;
    }
}



/* section 8 */
.section-8 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-8:before {
    content: 'Factos';
}

.sec8-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec8-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec8-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec8-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec8-inner_wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
}

.sec8-box_wrapper {
    position: relative;
    width: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.sec8-box {
    width: 100%;
    margin-bottom: 50px;
}

.sec8-box:last-of-type {
    margin-bottom: 0;
}

.sec8-box h2 {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.sec8-box h2:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 25%;
    height: 3px;
    background: black;
}

.sec8-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec8-img {
    -ms-flex-item-align: center;
        align-self: center;
}

.sec8-img img {
    width: 100%;
    max-width: 240px;
}

@media all and (min-width: 0px) and (max-width: 768px) {
    .sec8-inner_wrapper {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .sec8-box_wrapper {
        width: 72%;
    }
    .sec8-box_wrapper:first-of-type {
        margin-bottom: 50px;
    }
    .sec8-box_wrapper:last-of-type {
        margin-top: 50px;
    }
    .sec8-box {
        width: 100%;
    }
    /* .sec8-img img {
        width: 100%;
        max-width: 240px;
    } */
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .sec8-box_wrapper {
        width: 30%;
    }
    .sec8-box {
        width: 95%;
    }
    /* .sec8-img img {
        width: 100%;
        max-width: 240px;
    } */
}



/* section 9 */
.section-9 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-9:before {
    content: 'Blogging';
}

.sec9-main {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-bottom: 70px;
}

.sec9-main p {
    font-size: 16px;
    text-transform: uppercase;
}

.sec9-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec9-box_wrapper {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.sec9-box {
    width: 20%;
}

.sec9-img img {
    width: 100%;
    /* max-width: 100px; */
}

.sec9-box h2 {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 10px 0;
    letter-spacing: -1px;
}

.sec9-box p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    .sec9-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec9-box {
        width: 100%;
    }
    .sec9-img img {
        width: 100%;
    }
    .sec9-box .arrow-link {
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .sec9-box:nth-of-type(4) .arrow-link {
        margin-bottom: 0;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .sec9-box_wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec9-box {
        width: 45%;
    }
    .sec9-img img {
        width: 100%;
    }
    .sec9-box .arrow-link {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    .sec9-box:nth-of-type(3) .arrow-link,
    .sec9-box:nth-of-type(4) .arrow-link {
        margin-bottom: 0;
    }
}



/* section 10 */
.section-10 {
    margin: 0;
    padding: 130px 90px 50px 90px;
    position: relative;
    width: 100%;
    background: white;
}

.section-10:before {
    content: 'Instagram';
}

.sec10-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 80px !important;
}

.sec10-main {
    position: relative;
    width: 48%;
}

.sec10-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec10-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    letter-spacing: -1px;
}

.sec10-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

/* .sec10-button_wrapper {
    display: inline-block;
    margin-top: 70px;
} */

/* .sec10-button_wrapper a {
    font-size: 12px;
    font-weight: 400;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 25px;
    color: white;
    border: 1px solid #f23655;
    border-radius: 3px;
    background: #f23655;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
} */

/* .sec10-button_wrapper a:hover {
    background: rgba(242, 54, 85, .5);
} */

.sec10-box_wrapper {
    position: relative;
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sec10-box {
    width: 32%;
    margin-bottom: 20px;
}

.sec10-img {
    width: 100%;
    /* max-width: 100px; */
}

.sec10-img img {
    width: 100%;
    /* max-width: 100px; */
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec10-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec10-main {
        width: 100%;
        margin-bottom: 70px;
    }
    .sec10-box_wrapper {
        width: 100%;
    }
    .sec10-box {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 400px) and (max-width: 600px) {
    .sec10-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec10-main {
        width: 100%;
        margin-bottom: 70px;
    }
    .sec10-box_wrapper {
        width: 100%;
    }
    .sec10-box {
        width: 48%;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    .sec10-wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec10-main {
        width: 100%;
        margin-bottom: 70px;
    }
    .sec10-box_wrapper {
        width: 100%;
    }
    .sec10-box {
        width: 32%;
        margin-bottom: 20px;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px) {
    .sec10-box {
        width: 48%;
        margin-bottom: 20px;
    }
}

.arrow-link_insta {
    display: inline-block;
    position: relative;
    width: 45px;
    margin-top: 30px;
    cursor: pointer;
}

.arrow-link_insta a {
    display: inline-block;
    width: 45px;
    height: 20px;
    padding: 10px 0;
}

.arrow-link_insta a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 40px;
    height: 2px;
    background: black;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.arrow-link_insta a:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 28px;
    border: solid black;
    border-width: 0px 2px 2px 0;
    padding: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all .3s;
    transition: all .3s;
}

.arrow-link_insta a:hover {
    width: 85px;
}

.arrow-link_insta a:hover:before {
    width: 85px;
}

.arrow-link_insta a:hover:after {
    left: 73px;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    .arrow-link_insta {
        margin-top: 20px;
    }
}



/* section 11 */
.section-11 {
    margin: 0;
    padding: 60px 90px;
    position: relative;
    width: 100%;
    background: #2f3542;
    color: white;
}

.sec11-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.sec11-wrapper:before {
    background: white !important;
}

.sec11-main {
    position: relative;
    width: 48%;
    margin: 0;
}

.sec11-main p:first-of-type {
    font-size: 16px;
    text-transform: uppercase;
}

.sec11-main h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px 0;
    /* letter-spacing: -1px; */
}

.sec11-main p:last-of-type {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.sec11-contact {
    width: 48%;
    max-width: 400px;
    margin: 0;
}

.sec11-form {
    position: relative;
}

.sec11-form input {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
}

.sec11-form select {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 6px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: white;
    border-radius: 3px;
    text-indent: 0;
    cursor: pointer;
}

.sec11-form select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sec11-form input[type='submit'] {
    background: #f23655;
    color: white;
    text-transform: uppercase;
    height: 52px;
    cursor: pointer;
    -webkit-transition: all .33s;
    transition: all .33s;
}

.sec11-form input[type='submit']:hover {
    background: rgba(242, 54, 85, .7);
}

.sec11-form div {
    position: relative;
}

.sec11-form input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}

/* #sec11-checkbox.error {
    color: #fd5f88;
} */

#form_candidates_checkbox-error.error {
    top: 23px;
    color: #fd5f88;
    margin-bottom: 10px;
}

.sec11-form label {
    font-family: gotham;
    font-size: 9px;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
    position: absolute;
    width: 90%;
    top: 3px;
    left: 24px;
    color: #afb4b9;
    overflow: hidden;
}

@media all and (min-width: 0px) and (max-width: 472px) {
    .sec11-form label {
        top: -2px;
    }
}

#form_candidates_name-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 32px;
    left: 10px;
    color: #fd5f88;
}

#form_candidates_email-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 89px;
    left: 10px;
    color: #fd5f88;
}

#form_candidates_area-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 146px;
    left: 10px;
    color: #fd5f88;
}

.cv-upload {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	/* position: absolute; */
	z-index: -1;
}

.cv-upload_label {
    position: relative !important;
    display: block;
    /* top: 187px !important; */
    left: 11px !important;
    background: white;
    width: 100% !important;
    margin-top: -57px;
    margin-left: -11px;
    margin-bottom: 12px;
    height: 45px;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.cv-upload_label span {
    position: absolute;
    width: 100%;
    font-size: 16px;
    padding: 14px 10px 10px 10px;
}

#cv-upload-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 203px;
    left: 10px;
    color: #fd5f88;
    z-index: 5;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .sec11-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
    .sec11-main {
        width: 100%;
        margin-bottom: 30px;
    }
    .sec11-contact {
        width: 100%;
        max-width: 300px;
        padding: 0;
        margin: 0 auto;
    }
    .sec11-form input {
        font-size: 12px;
    }
    .sec11-form select {
        font-size: 12px;
    }
    .cv-upload_label span {
        padding-top: 16px;
        font-size: 12px;
    }
    
}

@media all and (min-width: 400px) and (max-width: 768px) {
    .sec11-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec11-main {
        width: 100%;
    }
    .sec11-contact {
        width: 100%;
        max-width: 400px;
        padding: 40px 0 0 0;
        margin: 0 auto;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    .sec11-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .sec11-main {
        width: 80%;
        margin-bottom: 40px;
    }
    .sec11-contact {
        width: 100%;
        max-width: 400px;
        padding: 0;
        margin: 0 auto;
    }
}



/* footer */
footer {
    position: relative;
    width: 100%;
    background: lightgray;
}

.footer-wrapper:before {
    display: none;
}

.footer-logo {
    position: relative;
    left: 0;
    top: 54%;
    width: 240px;
    height: auto;
    z-index: 1;
    -webkit-transform: none;
            transform: none;
}

.footer-logo #a-left-leg_footer {
    fill: #2f3542;
}

.footer-logo #a-right-leg_footer {
    fill: #2f3542;
}

.footer-logo #i-leg_footer {
    fill: #2f3542;
}

.footer-logo #i-leg_footer {
    fill: #2f3542;
}

.footer-logo #active_footer path {
    fill: #2f3542;
}

.footer-logo #insights_footer path {
    fill: #2f3542;
}

.footer-logo #consulting_footer path {
    fill: #2f3542;
    stroke: #2f3542;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

footer p {
    font-size: 12px;
    line-height: 1.3;
    color: #2f3542;
    margin-top: 30px;
}

footer p:last-of-type {
    font-size: 12px;
    line-height: 1.3;
    color: #2f3542;
    margin-top: 20px;
}

footer p a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    color: #f23655;
    -webkit-transition: all .33s;
    transition: all .33s;
}

footer p a:hover {
    border-bottom: 1px solid #f23655;
}

@media all and (max-width: 600px) {
    .footer-logo {
        width: 180px;
    }
}

@media all and (min-width: 600px) {
    .footer-logo {
        width: 180px;
    }
}



/* modal windows */
/* general rules */
body.bgcolor:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.full-container_index {
    -webkit-transition: all .3s .2s ease;
    transition: all .3s .2s ease;
}

.full-container_index.blur {
    /* position: absolute;
    transition: all .3s ease;
    filter: blur(3px); */
}

.full-container_index.blur:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}

.full-container {
    -webkit-transition: all .3s .2s ease;
    transition: all .3s .2s ease;
}

.full-container.blur {
    position: relative;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-filter: blur(3px);
            filter: blur(3px);
}

.full-container.blur:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}



/* rate modal */
/* .modal-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
} */

.rate-contact {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 440px;
    padding: 40px;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .15), 0 15px 12px rgba(0, 0, 0, .10);
            box-shadow: 0 19px 38px rgba(0, 0, 0, .15), 0 15px 12px rgba(0, 0, 0, .10);
}

.rate-contact.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s .3s ease;
    transition: all .3s .3s ease;
}

.rate-contact h2 {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.modalclose {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    outline: none;
    border: none;
    background: transparent;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.modalclose .close-button {
    font-family: gotham;
    font-size: 40px;
    font-weight: 300;
    color: #c1c1c1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    padding: 0;
    margin: 0;
    line-height: 0;
}

.modalclose:hover {
    -webkit-animation: rotclose .3s linear;
            animation: rotclose .3s linear;
}

@-webkit-keyframes rotclose {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

@keyframes rotclose {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

.rate-form {
    position: relative;
}

.rate-form select {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 6px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
    text-indent: 0;
    cursor: pointer;
}

.rate-form select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.rate-form input {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
}

.form_rate_textarea_wrapper {
    position: relative;
    background: #f1f1f1;
    padding: 7px 10px 12px;
    width: 100%;
    height: 70px;
    border-radius: 3px;
    margin-bottom: 12px;
}

.form_rate_textarea {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    text-indent: 0;
    resize: none;
    overflow: auto;
}

.rate-form input[type='submit'] {
    background: #f23655;
    color: white;
    text-transform: uppercase;
    height: 52px;
    cursor: pointer;
    -webkit-transition: all .33s;
    transition: all .33s;
}

.rate-form input[type='submit']:hover {
    background: rgba(242, 54, 85, .7);
}

.rate-form div {
    position: relative;
}

.rate-form input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}

.rate-form label {
    font-family: gotham;
    font-size: 9px;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
    position: absolute;
    width: 90%;
    top: -2px;
    left: 24px;
    color: #afb4b9;
    overflow: hidden;
}

#form_rate_service-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 32px;
    left: 10px;
    color: #fd5f88;
}

#form_rate_experience-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 89px;
    left: 10px;
    color: #fd5f88;
}

#form_rate_contact-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 146px;
    left: 10px;
    color: #fd5f88;
}

#form_rate_textarea-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 57px;
    left: 10px;
    color: #fd5f88;
}

#form_rate_checkbox-error.error {
    top: 23px;
    color: #fd5f88;
    margin-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .rate-contact {
        width: 90%;
        max-height: 426px;
        padding: 20px;
        /* margin: 0 auto; */
        overflow-y: scroll;
    }
    .rate-form input {
        font-size: 12px;
    }
    .rate-form select {
        font-size: 12px;
    }
    .rate-form textarea {
        font-size: 12px;
    }
}

 @media all and (min-width: 400px) and (max-width: 600px) {
    .rate-contact {
        width: 90%;
        max-width: 400px;
        padding: 20px;
        /* margin: 0 auto; */
        overflow-y: scroll;
    }
}



/* call modal */

.call-contact {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    max-width: 370px;
    max-height: 440px;
    padding: 40px;
    margin: 0;
    background: rgba(255, 255, 255, 1);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .15), 0 15px 12px rgba(0, 0, 0, .10);
            box-shadow: 0 19px 38px rgba(0, 0, 0, .15), 0 15px 12px rgba(0, 0, 0, .10);
}

.call-contact.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: all .3s .3s ease;
    transition: all .3s .3s ease;
}

.call-contact h2 {
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    
}

.modalclose {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    outline: none;
    border: none;
    background: transparent;
    z-index: 1;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.modalclose .close-button {
    font-family: gotham;
    font-size: 40px;
    font-weight: 300;
    color: #c1c1c1;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    padding: 0;
    margin: 0;
    line-height: 0;
}

.modalclose:hover {
    -webkit-animation: rotclose .3s linear;
            animation: rotclose .3s linear;
}

@keyframes rotclose {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

.call-form {
    position: relative;
}

.call-form select {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 6px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
    text-indent: 0;
    cursor: pointer;
}

.call-form select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.call-form input {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
}

/* .form_call_textarea {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 70px;
    padding: 5px 12px;
    margin-bottom: 12px;
    border: none;
    outline: none;
    background: #f1f1f1;
    border-radius: 3px;
    text-indent: 0;
    resize: none;
} */

.form_call_textarea_wrapper {
    position: relative;
    background: #f1f1f1;
    padding: 7px 10px 12px;
    width: 100%;
    height: 70px;
    border-radius: 3px;
    margin-bottom: 12px;
}

.form_call_textarea {
    font-family: gotham;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: transparent;
    text-indent: 0;
    resize: none;
    overflow: auto;
}

.call-form input[type='submit'] {
    background: #f23655;
    color: white;
    text-transform: uppercase;
    height: 52px;
    cursor: pointer;
    -webkit-transition: all .33s;
    transition: all .33s;
}

.call-form input[type='submit']:hover {
    background: rgba(242, 54, 85, .7);
}

.call-form div {
    position: relative;
}

.call-form input[type='checkbox'] {
    width: 15px;
    height: 15px;
    margin: 0;
    display: inline-block;
}

.call-form label {
    font-family: gotham;
    font-size: 9px;
    line-height: 1.3;
    font-weight: 300;
    text-align: left;
    position: absolute;
    width: 90%;
    top: -2px;
    left: 24px;
    color: #afb4b9;
    overflow: hidden;
}

#form_call_name-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 32px;
    left: 10px;
    color: #fd5f88;
}

#form_call_contact-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 89px;
    left: 10px;
    color: #fd5f88;
}

#form_call_service-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 146px;
    left: 10px;
    color: #fd5f88;
}

#form_call_textarea-error.error {
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    width: 90%;
    top: 57px;
    left: 10px;
    color: #fd5f88;
}

#form_call_checkbox-error.error {
    top: 23px;
    color: #fd5f88;
    margin-bottom: 10px;
}

@media all and (min-width: 0px) and (max-width: 400px) {
    .call-contact {
        width: 90%;
        max-height: 426px;
        padding: 20px;
        /* margin: 0 auto; */
        overflow-y: scroll;
    }
    .call-form input {
        font-size: 12px;
    }
    .call-form select {
        font-size: 12px;
    }
    .call-form textarea {
        font-size: 12px;
    }
}

 @media all and (min-width: 400px) and (max-width: 600px) {
    .call-contact {
        width: 90%;
        max-width: 400px;
        padding: 20px;
        /* margin: 0 auto; */
        overflow-y: scroll;
    }
}



/* form loader */
.form_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    display: none;
}

.form_loader i {
    color: #f23655;
    font-size: 70px;
    -webkit-animation: loader-spin 2s infinite linear;
            animation: loader-spin 2s infinite linear;
}

@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}



/* form messages */
.form_message_container {
    position: fixed;
    width: 100%;
    height: 300px;
    /* background: rgba(120, 224, 143, 1); */
    background: #f9f9f9;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: none;
}

.message_wrapper {
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
}

.far.fa-check-circle {
    font-size: 56px;
    color: #78e08f;
    margin-bottom: 20px;
}

.success-message {
    color: #222;
    margin: 10px auto;
}

.far.fa-times-circle {
    font-size: 56px;
    color: #f23655;
    margin-bottom: 20px;
}

.error-message {
    color: #f23655;
    margin: 10px auto;
}




/* global settings */

/***********************/
/* global sec*-wrapper */
/***********************/
div[class*="-wrapper"] {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/*************************/
/* global section-* text */
/*************************/
section[class^="section-"] {
    overflow: hidden;
}

section[class^="section-"]:before {
    position: absolute;
    font-size: 255px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f7f7f7;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media all and (min-width: 0px) and (max-width: 600px) {
    section[class^="section-"]:before {
        top: 90px;
        font-size: 100px;
    }
}

@media all and (min-width: 600px) and (max-width: 768px) {
    section[class^="section-"]:before {
        top: 80px;
        font-size: 145px;
    }
}

@media all and (min-width: 768px) and (max-width: 959px) {
    section[class^="section-"]:before {
        top: 64px;
        font-size: 190px;
    }
}

/******************************/
/* global sec*-wrapper marker */
/******************************/
div[class*="-wrapper"]:before {
    content: '';
    position: absolute;
    overflow: visible;
    top: 3px;
    left: -50px;
    width: 25px;
    height: 10px;
    background: black;
}

/***************************************/
/* media queries for section-* padding */
/***************************************/
@media all and (min-width: 0px) and (max-width: 400px) {
    .section-2,
    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8,
    .section-9,
    .section-10 {
        padding: 130px 20px 20px 20px;
    }
    .section-3,
    .section-11,
    .section-12 {
        padding: 20px;
    }
}

@media all and (min-width: 400px) and (max-width: 959px) {
    .section-2,
    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8,
    .section-9,
    .section-10 {
        padding: 130px 50px 50px 50px;
    }
    .section-3,
    .section-11,
    .section-12 {
        padding: 50px;
    }
}

@media all and (min-width: 959px) {
    .section-2,
    .section-4,
    .section-5,
    .section-6,
    .section-7,
    .section-8,
    .section-9,
    .section-10 {
        padding: 130px 90px 50px 90px;
    }
    .section-3,
    .section-11,
    .section-12 {
        padding: 50px 90px;
    }
}



/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
    display: none !important;
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
    visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}